{% extends 'base.html.twig' %}

{% block body %}

<div class="row text-center">
    <p>Sign in is required to access this part of the site.</p>
    <form  method="post" action="{{ path('admin_login') }}">
        <input type="image" src="{{ asset('images/google-social-signin.png') }}" width="202"/>
    </form>
</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}%}
