{% extends 'ImagesBundle:Default:layout.html.twig' %}

{% block body %}
<h3 class="pull-right"><a href="{{ path('image-manager-create') }}">Create New Image</a></h3>

    {% for obj in images %}
        <img src="{{ endpoint_url }}/{{ obj.Key }}" />
    {% endfor %}
{% endblock %}
