{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">

    {{ article.articleBody|markdown }}

    </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
